mixin slide(classNames)
  if classNames
    section(class=classNames, data-bespoke-backdrop='backdrop ' + classNames.split(' ').map(function(className) { return 'backdrop--' + className; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Curso Roadmapping Tecnológico - Presentación y Programa

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')

  body

    article

      +slide('purple')
        h1
          | Curso Roadmapping Tecnológico
          br
          span.subtitle Introducción Roadmapping Tecnológico y Estratégico
        h3
          | Jaime Andrés García
          br
          | Instituto Tecnológico Metropolitano
          br
          | Medellín, 11 de Septiembre de 2015

      +slide('roadmap')
        .tint
          h1 ¿Qué es un roadmap?
          h6 Fuente imagen: 20somethingkidsand1kookyteacher.com
      +slide('green cascade')
          h2 A "roadmap" is an extended look at the future of a
          h2 chosen field of inquiry composed from the collective
          h2 knowledge and imagination of the brightest drivers
          h2 of change in that field
          h6 (Galvin, 1998)
      +slide('green cascade')
          h2 Technology roadmapping represents a powerful
          h2 technique for supporting technology management and
          h2 planning, especially for exploring and communicating
          h2 the dynamic linkages between technological
          h2 resources, organizational objectives and the changing
          h2 environment.
          h6 ( Phaal, Farrukh & Probert, 2013)
      +slide('cascade')
        h1 Gestión Tecnológica
        img(src="images/technology-management.png",width="66%")
        h6 (Probert, Phaal & Farrukh, 2000)
      +slide('cascade')
        h1 Estructura base de Roadmap Tecnológico
        img(src="images/generic-techonology-roadmap.png",width="50%")
        h6 (Kostoff & Schaller, 2001)
      +slide('cascade')
        h1 Tipos de Roadmaps
        img(src="images/retrospective-prospective.png",width="78%")
      +slide('blue cascade')
        h1 Tipos de Roadmaps
        h2 Expert Based
        h2 Computer Based
        h2 Hybrid
        h6 (Kostoff & Schaller, 2001)
      +slide('cascade')
        h1 Formatos y Propósitos
        img(src="images/technology-roadmap-purpose-format.png",width="58%")
        h6 ( Phaal, Farrukh & Probert, 2004)
      +slide('cascade')
        h1 Estructura Roadmap T-Plan
        img(src="images/t-plan-generic-roadmap.png",width="70%")
        h6 ( Phaal, Farrukh & Probert, 2004)
      +slide('cascade')
        h1 Proceso T-Plan
        img(src="images/t-plan-process-funnel.png",width="60%")
        h6 ( Phaal & Oughton, 2012)
      +slide('cascade')
        h1 Proceso T-Plan
        img(src="images/t-plan-process.png",width="80%")
        h6 ( Phaal, Farrukh & Probert, 2004)
      +slide('blue cascade')
        h2 Previo a los Workshops
        h3 Presentación de la técnica de roadmapping tecnológico a la organización
        h3 Entender la importancia de la aplicación de la técnica en la organización
        h3 Sensibilización y Aceptación por parte de los principales stakeholders
      +slide('blue cascade')
        h2 Previo a los Workshops
        h3 Crear sensación de urgencia
        h3 Determinar alcance, visión y objetivos del ejercicio
        h3 Formar grupo participante
        h6 (Gerdsri, 2013)
      +slide('blue cascade')
        h2 Previo a los Workshops
        h3 Empoderar a los participantes
        h3 Preparar a los participantes con los principales conceptos
        h3 Planear como generar victorias rápidas
        h6 (Gerdsri, 2013)
      +slide('green cascade')
        h2 Workshop 1 Market - Introduction
        h3 Presentación de los participantes
        h3 Propósito de los talleres
        h3 Metodología de trabajo
      +slide('blue cascade')
        h2 Workshop 1 Market
        h2 Product Performance Dimensions
        h3 ¿Cuáles son los factores más importantes para medir nuestro producto?
        h3 - Facilidad de uso
        h3 - Precio
        h3 - Tamaño
      +slide('blue cascade')
        h2 Workshop 1 Market
        h2 Market / Business Drivers
        h3 ¿Por qué los clientes compran y comprarán el producto? ¿Qué necesitan?
        h3 ¿Qué factores estratégicos se deben tener en cuenta?
        h3 ¿Qué normativa, tendencia, situación puede afectar el desarrollo del producto?
        h3 Priorización de Drivers
      +slide('cascade')
        h2 Workshop 1 Market
        h2 Ejemplo Market / Business Drivers
        img(src="images/market-drivers-example.png",width="70%")
        h6 (Ball, Bidasaria & Castillejos, 2014)
      +slide('cascade')
        h2 Workshop 1 Market
        h2 Ejemplo Market / Business Drivers
        img(src="images/market-drivers-example-2.png",width="50%")
        h6 (Yoon et. al, 2014)
      +slide('cascade')
        h1 Workshop 1 Market - SWOT
        img(src="images/swot.png",width="50%")
        h6 Fuente imagen: discoveryresearchgroup.com
      +slide('red cascade')
        h1 Workshop 1 Market - Gaps
        h2 ¿Qué otra información requerimos?
        h3 Clientes
        h3 Competidores
        h3 Tendencias
        h3 Legislación
      +slide('green cascade')
        h2 Workshop 2 Product - Introduction
        h3 Resumen resultados del taller anterior
        h3 Propósito del taller
        h3 Metodología de trabajo
      +slide('blue cascade')
        h2 Workshop 2 Product
        h2 Product Feature Concepts
        h3 Características del Bien/Servicio para satisfacer los drivers
        h3 Brechas y productos intermedios
        h3 Categorizar estas características en clusters (10 ó menos)
      +slide('cascade')
        h1 Workshop 2 Product - Linkage Analysis Grid
        img(src="images/linkage-analysis-grid.png",width="62%")
        h6 ( Phaal, Farrukh & Probert, 2013)
      +slide('cascade')
        h2 Workshop 2 Product
        h2 Ejemplo Linkage Analysis Grid
        img(src="images/linkage-market-product-example.png",width="55%")
        h6 (Ball, Bidasaria & Castillejos, 2014)
      +slide('cascade')
        h2 Workshop 2 Product
        h2 Ejemplo Quality Function Deployment
        img(src="images/qfd-example-2.png",width="60%")
        h6 (Yoon et. al, 2014)
      +slide('blue cascade')
        h2 Workshop 2 Product
        h2 Product Strategy
        h3 Diferenciadores
        h3 Precio
        h3 Distribución
        h3 Familia de Productos y Plataforma
      +slide('red cascade')
        h1 Workshop 2 Product - Gaps
        h2 ¿Qué otra información requerimos?
        h3 Requisitos de los clientes
        h3
          | Productos de los competidores
          br
          | (Posicionamiento de estos productos)
      +slide('green cascade')
        h2 Workshop 3 Technology - Introduction
        h3 Resumen resultados de los talleres anteriores
        h3 Propósito del taller
        h3 Metodología de trabajo
      +slide('blue cascade')
        h2 Workshop 3 Technology
        h2 Technological Solutions
        h3 Tecnologías y Capacidades Tecnologícas que conectan con los productos
        h3 Brechas y tecnologías intermedias requeridas
        h3 Categorizar estas tecnologías en clusters (10 ó menos)
        h3 Se pueden generar capas adicionales (Ejemplo I+D)
      +slide('cascade')
        h2 Workshop 3 Technology
        h2 Ejemplo Technological Solutions
        img(src="images/tecnology-link-example-2.png",width="60%")
        h6 (Yoon et. al, 2014)
      +slide('cascade')
        h2 Workshop 3 Technology
        h2 Ejemplo Technological Solutions Gaps
        img(src="images/technology-gap-example.png",width="55%")
        h6 (Ball, Bidasaria & Castillejos, 2014)
      +slide('red cascade')
        h1 Workshop 3 Technology - Gaps
        h2 ¿Qué otra información requerimos?
        h3 Estado del arte
        h3 Tendencias y predicciones sobre la tecnología
        h3 Patentes y publicaciones
      +slide('green cascade')
        h2 Workshop 4 Charting - Introduction
        h3 Resumen resultados de los talleres anteriores
        h3 Propósito del taller
        h3 Metodología de trabajo
      +slide('green cascade')
        h2 Workshop 4 Charting - Roadmapping
        h2 Aspectos a tener en cuenta:
        h3 Alcance y formato
        h3 Capas, ciclos de innovación
        h3 Hitos, Negociación mercado - tecnología (Según impacto)
        h3 Discusión estrategia de innovación y riesgos
      +slide('blue cascade')
        h1 Workshop 4 - Ejemplos de Roadmaps
        a(href='images/medical-imaging-trm.png', target='_blank') Technology Roadmapping for Medical Imaging (Ball, Bidasaria & Castillejos, 2014)
        br
        a(href='images/intel-roadmap-2009.jpg', target='_blank') Intel Roadmap (Fuente: impress.co.jp)
        br
        a(href='pdf/Roadmap-Nanotechnology-Water-Treatment.pdf', target='_blank') Applying Nanotechnology to Water Treatment
        br
        a(href='http://www.ifm.eng.cam.ac.uk/uploads/Research/CTM/Roadmapping/public_domain_roadmaps.pdf', target='_blank') Lista de roadmaps públicos
      +slide('cascade')
        h2 Workshop 4 - Herramientas para el diseño de Roadmaps
        h3 Roadmaps Físicos - Post-it
        img(src="images/roadmap-post-its.png",width="40%")
        h6 ( Phaal & Oughton, 2012)
      +slide('cascade')
        h2 Workshop 4 - Herramientas para el diseño de Roadmaps
        h2 Programas de diseño
        h3 Microsoft Visio, Google Drawing, Power Point, Illustrator
        h3 Lucid Chart, Creately, Gliffy
        h3 CMapTools, Bizagi
      +slide('cascade')
        h2 Workshop 4 - Herramientas para el diseño de Roadmaps
        h2 Software
        h3 Accolade Roadmapping
        h3 Aha!, Product Plan, Roadmunk, Pro Plan
        h3 Confluence, Trello
      +slide('red cascade')
        h1 Workshop 4 Charting - Gaps - Way Forward
        h2 ¿Qué aprendimos sobre el producto, la estrategia y el proceso?
      +slide('blue cascade')
        h2 Mantenimiento e Integración del Roadmap
        h3 Consolidar roadmaps en uno maestro (idealmente)
        h3 Establecer procedimientos para la revisión y actualización
        h3 Integrar el proceso de roadmapping con los procesos existentes en la organización
        h3 Transferir el ownership sobre el proceso de roadmapping (volverlo operativo)
        h6 (Gerdsri, 2013)
      +slide('cascade')
        h1 Herramientas Integradas al Roadmap
        img(src="images/roadmap-integrated-toolset.png",width="60%")
        h6 ( Phaal & Oughton, 2012)
      +slide('cascade')
        h1 Herramientas Integradas al Roadmap
        img(src="images/other-tools.png",width="46%")
        h6 ( Carvalho , Fleury & Lopes, 2013)
      +slide('white cascade references')
        h1 Bibliografía
        p Ball, L., Bidasaria, R., Castillejos, I., Pakdeekasem, P., Pornsatit, C., & Daim, T. U. (2014). Technology Roadmapping for Medical Imaging: Toward Improved Value. In Planning and Roadmapping Technological Innovations (pp. 101–134). Springer.
        p Carvalho, M., Fleury, A., & Lopes, A. P. (2013). An overview of the literature on technology roadmapping (TRM): Contributions and trends. Technological Forecasting and Social Change, 80(7), 1418–1437.
        p Galvin R. (1998). Science roadmaps. Science, 280, pp. 803.                                                                                                                                                           
        p Gerdsri, N., & Kocaoglu, D. F. (2007). Applying the Analytic Hierarchy Process (AHP) to build a strategic framework for technology roadmapping. Mathematical and Computer Modelling, 46(7), 1071–1080.
      +slide('white cascade references')
        h1 Bibliografía
        p Kostoff, R. N., & Schaller, R. R. (2001). Science and technology roadmaps. Engineering Management, IEEE Transactions on, 48(2), 132–143.
        p Phaal, R., Farrukh, C. J., & Probert, D. R. (2004). Technology roadmapping—a planning framework for evolution and revolution. Technological Forecasting and Social Change, 71(1), 5–26.
        p Phaal, R., Farrukh, C. J., & Probert, D. R. (2012) Roadmapping for strategy and innovation - aligning technology and markets in a dynamic world.
        p Phaal, R., Farrukh, C. J., & Probert, D. R. (2013). Fast-Start Roadmapping Workshop Approaches. In Technology Roadmapping for Strategy and Innovation (pp. 91–106). Springer.
      +slide('white cascade references')
        h1 Bibliografía
        p Yoon, B. S., White, C., Wease, G., Honnappa, L., Tsai, S.-T., Wang, X., & Daim, T. U. (2014). Technology Roadmap for Automotive Flexible Display. In Planning and Roadmapping Technological Innovations (pp. 159–175). Springer.



    script(src='build/build.js')
